@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
section,
div {
  margin: 0;
  padding: 0;
}

/*

            ======================================
                    Common css area End
            ======================================

*/
/*

            ======================================
                        Index Page start
            ======================================

*/
/*

            ======================================
                        Header area start
            ======================================

*/
#header {
  height: 45px;
  background-color: #f5f6f8;
}

#header .left__header p {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 45px;
}

#header .right__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .right__header .top__dropdown {
  margin-left: 20px;
}

#header .right__header .top__dropdown li {
  cursor: pointer;
  position: relative;
}

#header .right__header .top__dropdown li a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 45px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#header .right__header .top__dropdown li a i {
  margin-left: 5px;
  cursor: pointer;
}

#header .right__header .top__dropdown li ul {
  text-align: center;
  background-color: #f5f6f8;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: absolute;
  left: 0;
  width: 45px;
  z-index: 1;
}

#header .right__header .top__dropdown li ul li a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 30px;
}

#header .right__header .top__dropdown li:hover ul {
  visibility: visible;
  opacity: 1;
}

#header .right__header .header__before {
  position: relative;
  padding-right: 35px;
}

#header .right__header .header__before li ul {
  width: 60px;
}

#header .right__header .header__before::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.637);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

#header .right__header .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .right__header .header__item li {
  margin-left: 25px;
}

#header .right__header .header__item li:nth-child(1) {
  margin-left: 35px;
}

#header .right__header .header__item li:nth-child(3) {
  margin-right: 25px;
}

#header .right__header .header__item li a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 45px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#header .right__header .header__item li a:hover {
  color: #336699;
}

#header .right__header .signIn__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .right__header .signIn__register li {
  position: relative;
}

#header .right__header .signIn__register li a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 45px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  margin: 0 10px;
}

#header .right__header .signIn__register li a i {
  margin-right: 8px;
}

#header .right__header .signIn__register li a:hover {
  color: #336699;
}

#header .right__header .signIn__register li:nth-child(1)::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #333333a2;
  top: 50%;
  -webkit-transform: translateY(-50%) skew(-15deg);
          transform: translateY(-50%) skew(-15deg);
  right: 0;
}

#header .right__header .signIn__register .auth__button {
  color: #fff;
  width: 100%;
  border: 0;
  padding: 10px 0;
  border: 2px solid #eee;
  outline: 0;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border-color: #2879fe;
  background-color: #336699;
}

#header .right__header .signIn__register .auth__button:focus {
  outline: 0;
  border-color: #2977d8;
  background-color: #2977d8;
}

#header .right__header .signIn__register .auth__button:hover {
  border-color: #2977d8;
  background-color: #2977d8;
}

#header .right__header .signIn__register span {
  color: #2879fe;
  cursor: pointer;
}

#header .right__header .signIn__register span:hover {
  text-decoration: underline;
}

#header .right__header .signIn__register .reset__pass {
  color: #a94442;
  cursor: pointer;
}

#header .right__header .signIn__register .reset__pass:hover {
  text-decoration: underline;
}

#header .right__header .signIn__register .social__link {
  margin-top: 30px;
}

#header .right__header .signIn__register .social__link a {
  border-radius: 50%;
  font-size: 14px;
  margin: 0 5px;
  height: auto;
  display: inline;
  text-align: center;
}

#header .right__header .signIn__register .social__link a:hover {
  color: #fff !important;
}

#header .right__header .signIn__register .social__link a:nth-child(1) {
  padding: 8px 5px 8px 12px;
  border: 1px solid #1b4f9b;
  color: #1b4f9b;
}

#header .right__header .signIn__register .social__link a:nth-child(1):hover {
  background: #1b4f9b;
}

#header .right__header .signIn__register .social__link a:nth-child(2) {
  padding: 8px 2px 8px 10px;
  border: 1px solid #00adef;
  color: #00adef;
}

#header .right__header .signIn__register .social__link a:nth-child(2):hover {
  background: #00adef;
}

#header .right__header .signIn__register .social__link a:nth-child(3) {
  padding: 8px 3px 8px 10px;
  border: 1px solid #dd4b39;
  color: #dd4b39;
}

#header .right__header .signIn__register .social__link a:nth-child(3):hover {
  background: #dd4b39;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #0d6efd;
  background-color: transparent;
}

.nav-link {
  color: #333;
}

/*

            ======================================
                        Header area End
            ======================================

*/
/*

            ======================================
                        logo area start
            ======================================

*/
#logo__area {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#logo__area img {
  width: 144px;
}

#logo__area .search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #336699;
  border-radius: 3px;
  padding: 10px 0;
  width: 98%;
  position: relative;
}

#logo__area .search__bar select,
#logo__area .search__bar input {
  border: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
}

#logo__area .search__bar select:focus,
#logo__area .search__bar input:focus {
  outline: 0;
}

#logo__area .search__bar select {
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 20px;
  position: relative;
  font-family: inherit;
  background: #fff;
}

#logo__area .search__bar select::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.637);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

#logo__area .search__bar input {
  width: 100%;
  font-family: inherit;
}

#logo__area .search__bar img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
}

#logo__area .logo__call {
  padding: 0 70px;
  position: relative;
}

#logo__area .logo__call a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#logo__area .logo__call a i {
  font-size: 25px;
  margin-right: 15px;
}

#logo__area .logo__call a:hover {
  color: #336699;
}

#logo__area .logo__call::before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  width: 1px;
  height: 40px;
  background-color: #33333336;
}

#logo__area .logo__nav {
  position: relative;
  margin-right: 20px;
}

#logo__area .logo__nav a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  text-align: center;
}

#logo__area .logo__nav a i {
  font-size: 22px;
  margin-right: 15px;
  text-align: center;
  margin: 0;
}

#logo__area .logo__nav a strong {
  position: absolute;
  top: -8px;
  right: -9px;
  color: #fff;
  background-color: #336699;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#logo__area .logo__nav a:hover {
  color: #336699;
}

#logo__area .side__canvas {
  position: relative;
  border-bottom: 1px solid #333;
}

#logo__area .side__canvas h5 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
  font-family: "Poppins";
}

#logo__area .side__canvas button span {
  position: absolute;
  right: 46px;
  top: 15px;
}

#logo__area .cart__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#logo__area .cart__item span i {
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #333;
  background: #fff;
  -webkit-transition: color 0.4s, border 0.4s;
  transition: color 0.4s, border 0.4s;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 3;
  cursor: pointer;
  padding: 2px 5px;
}

#logo__area .cart__item span p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
}

#logo__area .cart__item span p span {
  color: #336699;
  font-weight: 600;
}

#logo__area .cart__item img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

#logo__area .cart__button,
#logo__area .checkout__button {
  width: 45%;
  border: 0;
  padding: 5px 0;
  border: 2px solid #eee;
  outline: 0;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

#logo__area .cart__button:focus,
#logo__area .checkout__button:focus {
  outline: 0;
  border-color: #2977d8;
  background-color: #2977d8;
}

#logo__area .checkout__button {
  color: #fff;
  border-color: #2879fe;
  background-color: #336699;
}

#logo__area .checkout__button:hover {
  border-color: #2977d8;
  background-color: #2977d8;
}

#logo__area .cart__button {
  color: #2879fe;
  border-color: #2879fe;
  background-color: #fff;
}

#logo__area .cart__button:hover {
  color: #fff;
  border-color: #336699;
  background-color: #336699;
}

/*

            ======================================
                        logo area End
            ======================================

*/
/*

            ======================================
                      Mega Menu area start
            ======================================

*/
#menu {
  height: 50px;
  border-top: 1px solid #ddd;
}

#menu .left__dropdown {
  z-index: 1000;
  position: relative;
}

#menu .left__dropdown ul {
  background-color: #fff;
  line-height: 50px;
}

#menu .left__dropdown ul li {
  border-top: 1px solid #edeef0;
  line-height: 40px;
}

#menu .left__dropdown ul li:nth-child(1) {
  border-top: 0;
}

#menu .left__dropdown ul li:nth-child(12) a {
  font-weight: 600 !important;
  color: #369 !important;
}

#menu .left__dropdown ul li a {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  font-family: "Poppins";
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -0.1px;
}

#menu .left__dropdown ul li a:hover {
  color: #336699;
}

#menu .left__dropdown ul li a .icon1 {
  margin: 0 10px 0 20px;
}

#menu .left__dropdown ul li a .abc {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#menu .left__dropdown ul li .mega__drop__down ul li {
  position: relative;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  border-top: 0 !important;
}

#menu .left__dropdown ul li .mega__drop__down ul li:hover .mega__menu {
  opacity: 1;
  visibility: visible;
}

#menu .left__dropdown ul li .mega__drop__down ul li a {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  position: relative;
  display: block;
}

#menu .left__dropdown ul li .mega__drop__down ul li a:hover {
  color: #336699;
}

#menu .left__dropdown ul li .mega__drop__down ul li a .abc {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu {
  position: absolute;
  left: 105%;
  width: 640px;
  top: 0;
  z-index: 10;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu .mega__left__drop__menu {
  background-color: #fff;
  z-index: 60;
  padding: 20px;
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu .mega__left__drop__menu h3 {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  font-family: "Poppins";
  border-bottom: 1px solid #edeef0;
  margin-bottom: 15px;
  padding-bottom: 8px;
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu .mega__left__drop__menu ul {
  background-color: #fff;
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu .mega__left__drop__menu ul li {
  margin: 0 !important;
  border-top: 0 !important;
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu .mega__left__drop__menu ul li a {
  line-height: 30px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .left__dropdown ul li .mega__drop__down ul li .mega__menu .mega__left__drop__menu ul li a:hover {
  color: #336699;
}

#menu .left__dropdown ul .mega1__image {
  position: relative;
  height: 100%;
}

#menu .left__dropdown ul .mega1__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu .left__dropdown ul .mega1__image .mega__overlay1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

#menu .left__dropdown ul .mega1__image .mega__overlay1 h6 {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 0;
}

#menu .left__dropdown ul .mega1__image .mega__overlay1 h2 {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  font-family: "Poppins";
  margin-top: 10px;
}

#menu .left__dropdown ul .mega1__image .mega__overlay1 button {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  padding: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .left__dropdown ul .mega1__image .mega__overlay1 button i {
  margin-left: 8px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  font-size: 14px;
}

#menu .left__dropdown ul .mega1__image .mega__overlay1 button:hover i {
  -webkit-animation: 1s animated linear infinite;
          animation: 1s animated linear infinite;
}

#menu .middle__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .middle__nav li {
  margin-right: 25px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .middle__nav li:nth-child(6) {
  margin-right: 0;
}

#menu .middle__nav li:hover .nav__dropdown {
  opacity: 1;
  visibility: visible;
}

#menu .middle__nav li:hover .vendor__dropdown {
  opacity: 1;
  visibility: visible;
}

#menu .middle__nav li:hover .blog__dropdown {
  opacity: 1;
  visibility: visible;
}

#menu .middle__nav li:hover .page__dropdown {
  opacity: 1;
  visibility: visible;
}

#menu .middle__nav li .link {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  font-family: "Poppins";
  position: relative;
  display: block;
  text-transform: capitalize;
  letter-spacing: -0.1px;
}

#menu .middle__nav li .link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 3px;
  background-color: #336699;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#menu .middle__nav li .link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#menu .middle__nav li .link:hover {
  color: #336699;
}

#menu .middle__nav li i {
  margin-left: 10px;
  font-size: 10px;
}

#menu .middle__nav li .nav__dropdown {
  position: absolute;
  top: 100%;
  width: 780px;
  background-color: #fff;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  padding: 0 10px;
  z-index: 101;
}

#menu .middle__nav li .nav__dropdown h5 {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  font-family: "Poppins";
  margin: 15px 0;
}

#menu .middle__nav li .nav__dropdown ul li {
  line-height: 40px;
  margin: 0 !important;
}

#menu .middle__nav li .nav__dropdown ul li a {
  font-size: 13px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
}

#menu .middle__nav li .nav__dropdown ul li a span {
  padding: 4px 7px;
  line-height: 1;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}

#menu .middle__nav li .nav__dropdown ul li a span::after {
  width: 0% !important;
}

#menu .middle__nav li .nav__dropdown ul li a:hover {
  color: #336699;
}

#menu .middle__nav li .vendor__dropdown {
  position: absolute;
  top: 100%;
  width: 400px;
  background-color: #fff;
  padding: 10px 0 10px 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  z-index: 101;
}

#menu .middle__nav li .vendor__dropdown h5 {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  font-family: "Poppins";
  margin: 15px 0;
}

#menu .middle__nav li .vendor__dropdown ul li {
  line-height: 30px;
  margin: 0 !important;
}

#menu .middle__nav li .vendor__dropdown ul li a {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .middle__nav li .vendor__dropdown ul li a:hover {
  color: #336699;
}

#menu .middle__nav li .blog__dropdown {
  position: absolute;
  top: 100%;
  width: 180px;
  background-color: #fff;
  padding: 10px 0 10px 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  z-index: 101;
}

#menu .middle__nav li .blog__dropdown ul li {
  line-height: 30px;
  margin: 0 !important;
  position: relative;
}

#menu .middle__nav li .blog__dropdown ul li:hover .nested__dropdown {
  visibility: visible;
  opacity: 1;
}

#menu .middle__nav li .blog__dropdown ul li:hover a {
  color: #336699;
}

#menu .middle__nav li .blog__dropdown ul li:hover i {
  color: #336699;
}

#menu .middle__nav li .blog__dropdown ul li a {
  font-size: 13px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  display: block;
}

#menu .middle__nav li .blog__dropdown ul li i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#menu .middle__nav li .blog__dropdown ul li .nested__dropdown {
  position: absolute;
  left: 100%;
  width: 150px;
  top: 0;
  background-color: #fff;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .middle__nav li .blog__dropdown ul li .nested__dropdown li {
  list-style: 10px !important;
}

#menu .middle__nav li .blog__dropdown ul li .nested__dropdown li a {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
}

#menu .middle__nav li .page__dropdown {
  position: absolute;
  top: 100%;
  width: 180px;
  background-color: #fff;
  padding: 10px 0 10px 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  z-index: 101;
}

#menu .middle__nav li .page__dropdown ul li {
  line-height: 30px;
  margin: 0 !important;
}

#menu .middle__nav li .page__dropdown ul li a {
  font-size: 13px;
  color: #333;
  font-weight: 400;
  font-family: "Poppins";
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#menu .middle__nav li .page__dropdown ul li a:hover {
  color: #336699;
}

#menu .right__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .right__nav li {
  margin-right: 25px;
  line-height: 50px;
}

#menu .right__nav li:nth-child(2) {
  margin-right: 0;
}

#menu .right__nav li a {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  font-family: "Poppins";
  position: relative;
  display: block;
  text-transform: capitalize;
  letter-spacing: -0.1px;
}

#menu .right__nav li a:hover {
  color: #336699;
}

#menu .right__nav li a i {
  margin-right: 10px;
}

.mega__drop__2 h3 {
  font-size: 14px !important;
  margin-bottom: 8px !important;
  font-weight: 700 !important;
}

@-webkit-keyframes animated {
  0% {
    margin-top: 13px;
  }
  50% {
    margin-left: 18px;
  }
  70% {
    margin-left: 13px;
  }
  100% {
    margin-left: 8px;
  }
}

@keyframes animated {
  0% {
    margin-top: 13px;
  }
  50% {
    margin-left: 18px;
  }
  70% {
    margin-left: 13px;
  }
  100% {
    margin-left: 8px;
  }
}

/*

            ======================================
                      Mega Menu area End
            ======================================

*/
/*

            ======================================
                        slider area start
            ======================================

*/
#slider .slider__item1,
#slider .slider__item2,
#slider .slider__item3 {
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider .slider__item1 {
  background: url("../../images/slide1.jpg");
}

#slider .slider__item2 {
  background: url("../../images/slide-2.jpg");
}

#slider .slider__item3 {
  background: url("../../images/slide-3.jpg");
}

#slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#slider .slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}

#slider .slider__content h2 {
  font-size: 38px;
  color: #333;
  font-weight: 600;
  font-family: "Poppins";
  margin: 20px 0;
  letter-spacing: -1.4px;
}

#slider .slider__content h6 {
  font-size: 14px;
  color: #696666;
  font-weight: 600;
  font-family: "Poppins";
}

#slider .slider__content button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #333;
  border-radius: 5px;
  border: 0;
  outline: 0;
  color: #fff;
}

#slider .slick__prev {
  left: 20px;
  z-index: 101;
}

#slider .slick__next {
  right: 50px;
}

#slider .slick__next,
#slider .slick__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#slider .slick-dots li {
  margin: 0 5px;
}

#slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  background-color: transparent !important;
  border: 1px solid #333 !important;
  padding: 0 !important;
}

#slider .slick-dots li.slick-active button {
  background-color: #333 !important;
  border-radius: 50% !important;
}

/*

            ======================================
                        slider area End
            ======================================

*/
/*

            ======================================
                        Header area start
            ======================================

*/
/*

            ======================================
                        Header area End
            ======================================

*/
/*

            ======================================
                        Header area start
            ======================================

*/
/*

            ======================================
                        Header area End
            ======================================

*/
/*

            ======================================
                       Index Page End
            ======================================

*/
/*

            ======================================
                         Index Page start
            ======================================

*/
/*

            ======================================
                       Index Page End
            ======================================

*/
/*

            ======================================
                        Index Page start
            ======================================

*/
/*

            ======================================
                        Index Page End
            ======================================

*/
/*# sourceMappingURL=style.css.map */