@import '../mixins/fontStyles';

#logo__area {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 144px;
  }
  .search__bar {
    display: flex;
    align-items: center;
    border: 1px solid #336699;
    border-radius: 3px;
    padding: 10px 0;
    width: 98%;
    position: relative;
    select,
    input {
      border: 0;
      &:focus {
        outline: 0;
      }
      @include fontStyle(12px, #333, 400, 'Poppins');
    }
    select {
      margin-right: 20px;
      padding-right: 10px;
      padding-left: 20px;
      position: relative;
      font-family: inherit;
      background: #fff;
      &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: rgba(51, 51, 51, 0.637);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    input {
      width: 100%;
      font-family: inherit;
    }
    img {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 20px;
    }
  }
  .logo__call {
    padding: 0 70px;
    position: relative;
    a {
      @include fontStyle(12px, #333, 400, 'Poppins');
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all linear 0.3s;
      i {
        font-size: 25px;
        margin-right: 15px;
      }
      &:hover {
        color: #336699;
      }
    }
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      width: 1px;
      height: 40px;
      background-color: #33333336;
    }
  }
  .logo__nav {
    position: relative;
    margin-right: 20px;
    a {
      @include fontStyle(12px, #333, 400, 'Poppins');
      transition: all linear 0.3s;
      text-align: center;
      i {
        font-size: 22px;
        margin-right: 15px;
        text-align: center;
        margin: 0;
      }
      strong {
        position: absolute;
        top: -8px;
        right: -9px;
        color: #fff;
        background-color: #336699;
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
      &:hover {
        color: #336699;
      }
    }
  }
  .side__canvas {
    position: relative;
    border-bottom: 1px solid #333;
    h5 {
      @include fontStyle(20px, #333, 600, 'Poppins');
    }
    button {
      span {
        position: absolute;
        right: 46px;
        top: 15px;
      }
    }
  }
  .cart__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    span {
      i {
        position: absolute;
        top: -10px;
        right: -10px;
        text-align: center;
        border-radius: 50%;
        font-size: 1.2rem;
        color: #333;
        background: #fff;
        transition: color 0.4s, border 0.4s;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
        z-index: 3;
        cursor: pointer;
        padding: 2px 5px;
      }
      p {
        @include fontStyle(14px, #333, 400, 'Poppins');
        span {
          color: #336699;
          font-weight: 600;
        }
      }
    }
    img {
      width: 80px;
      object-fit: cover;
    }
  }

  .cart__button,
  .checkout__button {
    width: 45%;
    border: 0;
    padding: 5px 0;
    border: 2px solid #eee;
    outline: 0;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
    cursor: pointer;
    &:focus {
      outline: 0;
      border-color: #2977d8;
      background-color: #2977d8;
    }
  }
  .checkout__button {
    color: #fff;
    border-color: #2879fe;
    background-color: #336699;
    &:hover {
      border-color: #2977d8;
      background-color: #2977d8;
    }
  }
  .cart__button {
    color: #2879fe;
    border-color: #2879fe;
    background-color: #fff;
    &:hover {
      color: #fff;
      border-color: #336699;
      background-color: #336699;
    }
  }
}
