@import '../mixins/fontStyles';

#logo__area {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 144px;
  }
  .search__bar {
    display: flex;
    align-items: center;
    border: 1px solid #336699;
    border-radius: 3px;
    padding: 10px 0;
    width: 98%;
    position: relative;
    select,
    input {
      border: 0;
      &:focus {
        outline: 0;
      }
      @include fontStyle(12px, #333, 400, 'Poppins');
    }
    select {
      margin-right: 20px;
      padding-right: 10px;
      padding-left: 20px;
      position: relative;
      font-family: inherit;
      &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: rgba(51, 51, 51, 0.637);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    input {
      width: 100%;
      font-family: inherit;
    }
    img {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 20px;
    }
  }
  .logo__call {
    padding: 0 70px;
    position: relative;
    a {
      @include fontStyle(12px, #333, 400, 'Poppins');
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all linear 0.3s;
      i {
        font-size: 25px;
        margin-right: 15px;
      }
      &:hover {
        color: #336699;
      }
    }
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      width: 1px;
      height: 40px;
      background-color: #33333336;
    }
  }
  .logo__nav {
    position: relative;
    margin-right: 20px;
    a {
      @include fontStyle(12px, #333, 400, 'Poppins');
      transition: all linear 0.3s;
      text-align: center;
      i {
        font-size: 22px;
        margin-right: 15px;
        text-align: center;
        margin: 0;
      }
      strong {
        position: absolute;
        top: -9px;
        right: -5px;
        color: #fff;
        background-color: #336699;
        border-radius: 50%;
        padding: 2px 5px;
      }
      &:hover {
        color: #336699;
      }
    }
  }
  .side__canvas {
    position: relative;
    h5 {
      @include fontStyle(20px, #333, 600, 'Poppins');
    }
    button {
      span {
        position: absolute;
        right: 46px;
        top: 15px;
      }
    }
  }
}
