#slider {
  z-index: -1;
  position: relative;
  .slider__item1 {
    padding: 70px 0;
    background: url('../../images/slide1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
  .slider__item2 {
    padding: 70px 0;
    background: url('../../images/slide-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
  .slider__item3 {
    padding: 70px 0;
    background: url('../../images/slide-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  button {
    padding: 10px 25px;
    background-color: #333;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: #fff;
  }
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
  //   position: absolute;
  //   right: 50px;
  //   top: 50%;
  //   transform: translateY(-50%);
}
